/* Sukhumvit Fonts */
@font-face {
  font-family: "Sukhumvit";
  src: url("../fonts/Sukhumvit/SukhumvitSet-Text.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Sukhumvit";
  src: url("../fonts/Sukhumvit/SukhumvitSet-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Sukhumvit";
  src: url("../fonts/Sukhumvit/SukhumvitSet-Bold.ttf") format("truetype");
  font-weight: 700;
}
